/* ---------------------------------------------------------------------------- */
/*                      компонент */
/* ---------------------------------------------------------------------------- */
body {
    overflow: auto !important;
}
.login-frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    max-width: 800px;
    border-radius: 5px;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    gap: 20px;
}
h1 {
    text-align: center;
}
